body {
    background: url("background.png") repeat-x fixed top;
}

div.sitebar {
    background-color: #777;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #777 0%, #111 100%);
    background: -moz-linear-gradient(top, #777 0%, #111 100%);
    background: -ms-linear-gradient(top, #777 0%, #111 100%);
    background: -o-linear-gradient(top, #777 0%, #111 100%);
    background: linear-gradient(top, #777 0%, #111 100%);
    color: #fff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left;
    margin-bottom: 1em;
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

div.sitebar a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    background-color: rgba(255, 255, 255, 0.0);
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
}

div.sitebar a:hover {
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    background-color: rgba(255, 255, 255, 0.25);
}

div.sitebar span.left {
    margin-left: 0.5em;
}

div.sitebar span.right {
    float: right;
    margin-right: 0.5em;
}

div.header {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h1:before {
    content: '❧ ';
}

h1:after {
    content: ' ❧';
}

div.body h1, div.articles h1 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #ddd;
}

div.body h1 {
    padding-top: 0.3em;
    border-top: 1px solid #ddd;
}

div.body, div.viewport, div.articles {
    margin-bottom: 1em;
    padding: 0;
    border-bottom: 1px solid #ddd;
}

div.body, div.viewport {
    border-top: 1px solid #ddd;
}

div.viewport {
    text-align: center;
    height: 350px;
}

#viewport {
    margin-top: -20px;
}

div.small-print {
    font-size: small;
    text-align: center;
    margin-bottom: 1.5em;
}

div.small-print hr {
    margin-bottom: 0.3em;
}

div.small-print img {
    vertical-align: middle;
}

div.small-print p {
    margin: 0;
}

div.small-print.left {
    text-align: left;
}

div.small-print.right {
    text-align: right;
}

.doge-widget-wrapper {
    float: left;
}

div.section {
    margin: 3em 0;
}

div.body ul {
    margin: 3em 0;
}

div.body li {
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin: 1.5em;
}

li span.resource:before {
    content: "⇒ ";
    margin: 0 0.4em;
}

li span.resource {
    font-size: 0.8em;
    font-weight: normal;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li span.resource a {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaa), color-stop(100%, #ccc));
    background: -webkit-linear-gradient(top, #aaa 0%, #ccc 100%);
    background: -moz-linear-gradient(top, #aaa 0%, #ccc 100%);
    background: -ms-linear-gradient(top, #aaa 0%, #ccc 100%);
    background: -o-linear-gradient(top, #aaa 0%, #ccc 100%);
    background: linear-gradient(top, #aaa 0%, #ccc 100%);
    padding: 0.1em 0.4em;
    border-radius: 0.3em;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #aaa;
    color: #f8f8f8;
    text-shadow: #888 0px 0px 2px;
    text-decoration: none;
}

li span.resource a:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbb), color-stop(100%, #ddd));
    background: -webkit-linear-gradient(top, #bbb 0%, #ddd 100%);
    background: -moz-linear-gradient(top, #bbb 0%, #ddd 100%);
    background: -ms-linear-gradient(top, #bbb 0%, #ddd 100%);
    background: -o-linear-gradient(top, #bbb 0%, #ddd 100%);
    background: linear-gradient(top, #bbb 0%, #ddd 100%);
    color: #fff;
    text-shadow: #eee 0px 0px 2px;
}

div.portrait {
    float: left;
    margin: -2em 3em 3em 0;
    width: 400px;
}

div.blurb {
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
}

h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.6em;
}

div.blurb td {
    padding: 0 1em 1em 0;
}

article {
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

article h2 a {
    text-decoration: none;
}

article h2:before, p.article-link a:before {
    content: "❦ ";
    font-size: 0.8em;
    color: #aaa;
}

article p.separator {
    text-align: center;
    margin: 3em 0;
}

article p.date, span.date {
    color: #888;
    font-size: 0.8em;
    margin-left: 1em;
}

p.article-link {
    font-size: 1.2em;
    margin-left: 2em;
}

p.article-link a {
    text-decoration: none;
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
}

ol {
    counter-reset: li;
}

ol li:before {
    content: counters(li, " ", arabic-indic);
    counter-increment: li;
}

ul li:before {
    content: '✤';
}

ul, ol {
    margin: 0.3em 0 0.3em 1.5em;
}

ul li, ol li {
    list-style: none;
    position: relative;
}

ul li:before, ol li:before {
    font-size: 0.8em;
    color: #666;
    text-align: right;
    position: absolute;
    left: 0;
    width: 2em;
    margin-left: -2.3em;
}
