@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 100;
  font-style: normal;
  src: url("iosevka/woff2/iosevka-ss08-thin.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-thin.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-thin.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 100;
  font-style: italic;
  src: url("iosevka/woff2/iosevka-ss08-thinitalic.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-thinitalic.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-thinitalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 100;
  font-style: oblique;
  src: url("iosevka/woff2/iosevka-ss08-thinoblique.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-thinoblique.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-thinoblique.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 200;
  font-style: normal;
  src: url("iosevka/woff2/iosevka-ss08-extralight.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-extralight.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-extralight.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 200;
  font-style: italic;
  src: url("iosevka/woff2/iosevka-ss08-extralightitalic.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-extralightitalic.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-extralightitalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 200;
  font-style: oblique;
  src: url("iosevka/woff2/iosevka-ss08-extralightoblique.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-extralightoblique.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-extralightoblique.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 300;
  font-style: normal;
  src: url("iosevka/woff2/iosevka-ss08-light.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-light.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-light.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 300;
  font-style: italic;
  src: url("iosevka/woff2/iosevka-ss08-lightitalic.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-lightitalic.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-lightitalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 300;
  font-style: oblique;
  src: url("iosevka/woff2/iosevka-ss08-lightoblique.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-lightoblique.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-lightoblique.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 400;
  font-style: normal;
  src: url("iosevka/woff2/iosevka-ss08-regular.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-regular.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 400;
  font-style: italic;
  src: url("iosevka/woff2/iosevka-ss08-italic.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-italic.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-italic.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 400;
  font-style: oblique;
  src: url("iosevka/woff2/iosevka-ss08-oblique.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-oblique.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-oblique.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 500;
  font-style: normal;
  src: url("iosevka/woff2/iosevka-ss08-medium.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-medium.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-medium.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 500;
  font-style: italic;
  src: url("iosevka/woff2/iosevka-ss08-mediumitalic.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-mediumitalic.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-mediumitalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 500;
  font-style: oblique;
  src: url("iosevka/woff2/iosevka-ss08-mediumoblique.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-mediumoblique.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-mediumoblique.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 600;
  font-style: normal;
  src: url("iosevka/woff2/iosevka-ss08-semibold.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-semibold.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-semibold.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 600;
  font-style: italic;
  src: url("iosevka/woff2/iosevka-ss08-semibolditalic.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-semibolditalic.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-semibolditalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 600;
  font-style: oblique;
  src: url("iosevka/woff2/iosevka-ss08-semiboldoblique.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-semiboldoblique.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-semiboldoblique.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 700;
  font-style: normal;
  src: url("iosevka/woff2/iosevka-ss08-bold.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-bold.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 700;
  font-style: italic;
  src: url("iosevka/woff2/iosevka-ss08-bolditalic.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-bolditalic.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-bolditalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 700;
  font-style: oblique;
  src: url("iosevka/woff2/iosevka-ss08-boldoblique.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-boldoblique.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-boldoblique.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 800;
  font-style: normal;
  src: url("iosevka/woff2/iosevka-ss08-extrabold.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-extrabold.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-extrabold.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 800;
  font-style: italic;
  src: url("iosevka/woff2/iosevka-ss08-extrabolditalic.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-extrabolditalic.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-extrabolditalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 800;
  font-style: oblique;
  src: url("iosevka/woff2/iosevka-ss08-extraboldoblique.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-extraboldoblique.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-extraboldoblique.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 900;
  font-style: normal;
  src: url("iosevka/woff2/iosevka-ss08-heavy.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-heavy.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-heavy.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 900;
  font-style: italic;
  src: url("iosevka/woff2/iosevka-ss08-heavyitalic.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-heavyitalic.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-heavyitalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Iosevka SS08 Web';
  font-weight: 900;
  font-style: oblique;
  src: url("iosevka/woff2/iosevka-ss08-heavyoblique.woff2") format('woff2'), url("iosevka/woff/iosevka-ss08-heavyoblique.woff") format('woff'), url("iosevka/ttf/iosevka-ss08-heavyoblique.ttf") format('truetype');
}
