@import "_mu.scss";
@import "_iosevka.scss";
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");

body {
    background: #eee;
}

body.spj-mode * {
    font-family: "Comic Sans MS", fantasy;
}

footer,
header {
    ul.menu {
        text-align: right;

        li.menu-item {
            display: inline;
            font-size: 0.8em;
        }

        li.menu-item::before {
            content: "|";
        }

        li.menu-item:first-child::before {
            content: "";
        }

        sl-icon-button::part(base) {
            padding: 0;
        }
    }
}

header {
    h1 {
        font-family: "Bowlby One SC";
        font-size: 2.6em;
        margin-top: -0.4em;
        margin-bottom: -0.4em;
        text-shadow: 4px 5px 6px rgba(0, 0, 0, 0.3);

        a {
            color: black;
        }

        a:hover {
            text-decoration: none;
        }
    }

    ul.menu {
        float: right;
        margin: 0;
    }

    hr {
        clear: both;
    }
}

footer {
    margin-top: 1em;

    hr,
    ul {
        margin: 0;
    }
}

pre,
code {
    font-family: "Iosevka SS08 Web";
    font-weight: 400;
    font-size: 0.9em;
}

pre code {
    background: #2b2c2f;
}

pre {
    border-radius: 0.3em;
    padding: 1em 1.5em;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
}

p.gif {
    text-align: center;

    img {
        width: 100%;
        max-width: 640px;
    }
}

p.banner {
    text-align: center;

    img {
        width: 100%;
    }
}

article {
    label.exercise {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        cursor: pointer;
        display: block;
        background: #f0f0f0;
    }

    input[type="checkbox"] {
        display: none;
    }

    input + label.exercise + div {
        height: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.1s ease-out;
    }

    input:checked + label.exercise + div {
        height: auto;
        transform: scaleY(1);
    }

    label.exercise:after {
        content: " ☝️";
    }

    input:checked + label.exercise:after {
        content: " 👇";
    }
}

.post-meta {
    font-size: 0.8em;
    color: #777;
    margin-top: -1em;
}

.anchor {
    font-size: 0.8em;
    color: #ccc;
}

.video img {
    width: 100%;
}

.print-only {
    display: none;
}

@media screen and (max-width: 640px) {
    header h1 {
        font-size: 2em;
    }

    header ul {
        float: none;
    }

    body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 340px) {
    body {
        font-size: 10pt;
    }
}

body.sl-theme-dark {
    background: #191919;
    color: #999;

    hr {
        border: 1px inset #555;
    }

    a {
        color: #57b;
    }

    a.anchor {
        color: #444;
    }

    header h1 a {
        color: #aaa;
        text-shadow: 4px 5px 6px rgba(255, 255, 255, 0.3);
    }

    code,
    pre,
    article label.exercise {
        background: #2b2c2f;
    }
}
